<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Test HTML Doc</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div style="display: flex, align-item:center;justify-content:center">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
        accusantium atque numquam placeat, eligendi ullam saepe eius praesentium
        beatae voluptates nisi doloremque quisquam? Recusandae, odio fuga! Ipsam
        quaerat autem quisquam in a cumque ullam, ut enim, vitae quis error?
        Incidunt, recusandae est! Molestiae consequatur praesentium aliquam
        facilis deserunt alias debitis aut laboriosam, natus beatae animi vel
        assumenda eos accusantium vitae, ipsam dolore nesciunt voluptatem
        accusamus ullam! Dolorum aut suscipit minima explicabo nostrum magni
        odio perspiciatis quos repudiandae beatae ipsum reiciendis doloremque
        corporis eum voluptas velit, dolorem labore facilis modi nemo! Cum
        repudiandae atque sit officia amet inventore beatae dolores tempora.
      </p>
    </div>
  </body>
</html>
